<%- include('./partials/header') %>

<h1>PGA Polling Admin</h1>

<hr>

<section>
  <% var status = settings.pollingActive ? 'Polling' : 'Stopped' %>
  <% var action = settings.pollingActive ? 'stop' : 'start' %>
  <dl>
    <dt>Polling Status</dt>
    <dd><%= status %></dd>
  </dl>
  <form action="/polling/<%= action %>" method="POST">
    <button class="btn btn-primary"><%= action.toUpperCase() %> Polling</button>
  </form>
</section>

<hr>

<section>

    <%= JSON.stringify(settings) %>
    <dl>
      <% var freq = Math.floor((new Date(settings.nextPoll) - new Date(settings.lastPollFinished)) / 1000) %>
      <% var secs = freq % 60 %>
      <% freq = Math.floor((freq - secs) / 60) %>
      <% var mins = freq % 60 %>
      <% var hrs = Math.floor((freq - mins) / 60) %>
      <dt>Polling Frequency</dt>
      <dd><%= hrs %> hrs <%= mins %> mins <%= secs %> secs</dd>
    </dl>

</section>

<hr>

<section>
  <dl class="dl-horizontal">
    <dt>Latest/Current Tourney</dt>
    <dd><%= tourney.title %> / <%= tourney.year %> (<%= tourney._id %>)</dd>
    <dt>Start Date</dt>
    <dd><%= tourney.startDate %></dd>
    <dt>End Date</dt>
    <dd><%= tourney.endDate %></dd>
    <dt>Is Started</dt>
    <dd><%= tourney.isStarted %></dd>
    <dt>Is Finished</dt>
    <dd><%= tourney.isFinished %></dd>
    <dt>Current Round</dt>
    <dd><%= tourney.curRound %></dd>
    <dt>Round State</dt>
    <dd><%= tourney.roundState %></dd>
</section>

<%- include('./partials/footer') %>
